[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/ragtag"]
	path = bundle/ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/gist"]
	path = bundle/gist
	url = git://github.com/mattn/gist-vim.git
[submodule "bundle/ruby-refactoring"]
	path = bundle/ruby-refactoring
	url = git://github.com/ecomba/vim-ruby-refactoring.git
[submodule "bundle/snipmate_snippets"]
	path = bundle/snipmate_snippets
	url = git://github.com/akitaonrails/snipmate-snippets.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/syntax_git"]
	path = bundle/syntax_git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/syntax_haml"]
	path = bundle/syntax_haml
	url = git://github.com/tpope/vim-haml.git
[submodule "bundle/syntax_html5"]
	path = bundle/syntax_html5
	url = git://github.com/othree/html5-syntax.vim.git
[submodule "bundle/syntax_json"]
	path = bundle/syntax_json
	url = git://github.com/leshill/vim-json.git
[submodule "bundle/syntax_markdown"]
	path = bundle/syntax_markdown
	url = git://github.com/ujihisa/vim-markdown.git
[submodule "bundle/syntax_rdoc"]
	path = bundle/syntax_rdoc
	url = git://github.com/depuracao/vim-rdoc.git
[submodule "bundle/syntax_textile"]
	path = bundle/syntax_textile
	url = git://github.com/timcharper/textile.vim.git
[submodule "bundle/coffeescript"]
	path = bundle/coffeescript
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/syntax_nginx"]
	path = bundle/syntax_nginx
	url = https://github.com/evanmiller/nginx-vim-syntax.git
[submodule "bundle/syntax_handlebars"]
	path = bundle/syntax_handlebars
	url = https://github.com/nono/vim-handlebars.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/specky"]
	path = bundle/specky
	url = git://github.com/vim-scripts/Specky.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/textobj_user"]
	path = bundle/textobj_user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "bundle/textobj_rubyblock"]
	path = bundle/textobj_rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/indent_javascript"]
	path = bundle/indent_javascript
	url = https://github.com/pangloss/vim-javascript.git
